<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index :: dynamic(~{::main})}">
<body>
	<main class="main-content">
		<div class="page-header-area">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<div class="page-header-content">
							<nav class="breadcrumb-area">
								<ul class="breadcrumb">
									<li><a href="/">Trang chủ</a></li>
									<li class="breadcrumb-sep">/</li>
									<li>Thông tin</li>
								</ul>
							</nav>
							<h4 class="title">Thông tin Shop</h4>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="about-area">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-6">
						<div class="about-thumb">
							<a href="javascript:(0);"> <img class="w-100"
								src="assets/img/about.png">
							</a>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="about-content">
							<h4 class="title">Cửa hàng chúng tôi</h4>
							<p>Cửa hàng thời trang là không gian thương mại nơi cung cấp
								đa dạng các sản phẩm liên quan đến thời trang như quần áo, giày
								dép, phụ kiện và đồ trang sức. Đây là địa điểm thuận tiện cho
								người tiêu dùng để tìm kiếm và mua sắm những sản phẩm thời trang
								mới nhất và phù hợp với phong cách cá nhân của họ.</p>
							<p>Đa dạng sản phẩm: Cửa hàng thời trang thường có sự đa dạng
								về kiểu dáng, màu sắc và chất liệu sản phẩm. Điều này tạo điều
								kiện thuận lợi cho khách hàng để lựa chọn theo sở thích và phong
								cách cá nhân của họ.</p>
							<p>Tổng quan, cửa hàng thời trang không chỉ là nơi mua sắm mà
								còn là không gian thể hiện cá nhân, sáng tạo và phong cách.
								Những cửa hàng này đóng vai trò quan trọng trong việc đáp ứng
								nhu cầu ngày càng cao của người tiêu dùng về thời trang và phong
								cách sống.</p>
							<a class="btn-theme" href="javascript:(0);">Đọc Thêm</a>
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>